<h2 class="dashboard-header">Dashboard</h2>
<div class="dashboard-section">
    <div class="existing-posts">
        <h3>Existing Posts:</h3>
    </div> 
    <div class="create-post">
        <form action="submit">
        <h3>Create New Post:</h3>
        <h4>Post Title:</h4>
        <input type="text">
        <h4>Post Content:</h4>
        <input type="text">
        <button type="submit" class="create-post-submit-button">Submit</button>
        </form>
    </div>
    <div class="delete-your-account">
        <form action="submit">
            <button type="submit" class="delete-your-account-button">Delete Your Account</button>
        </form>
    </div>
</div>