<div class = "edit-single-post">
    <input type="text" value="{{post.post_title}}" id="new-title">
    <textarea name="" id="new-content" cols="30" rows="10">{{post.content}}</textarea>
    <button id="save-post-button">Save Post</button>
</div>

<script src="/js/editPost2.js"></script>