<h2 class="blog-post-header">Blog Posts</h2>
<div>
    <section class="blog-post">
        <div class="blog-post-header">
            <h3 class="blog-post-title">Blog Post Title</h3>
        </div>
        <div class="blog-post-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, autem, beatae, commodi, doloremque, dolores, eos, expedita, facere, fugiat, impedit, in, ipsa, itaque, laborios</p>
        </div>
    </section>
</div>