<section>
    <form class="login-drip">
        <div class="login-section">
            <h2>Login</h2>
            <h3>Email</h3>
            <input type="text" id="login-email">
            <h3>Password</h3>
            <input type="password" id="login-password">
            <button type="submit">Login</button>
            <br>
        </div>
        <div class="create-account">
            <a href="/signup">Create Account 🤪</a>
        </div>
    </form>

    {{!-- TODO: bring in some js that handles login and create account submit events, that talk to the backend with the information inside of the forms --}}
    <script src="/js/login.js"></script>
</section>